<template>
  <div>
    <h1>Garden Helper</h1>
    <h2>Introduction</h2>
    <p>Software to manage your own garden</p>
    <h2>CHANGELOG</h2>
    <h3>v0.0.0</h3>
    <p>Creation of the application, no functionalities atm</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  head: {
    title: 'About',
  },
})
</script>
