<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline"> Liste des logos de l'app </v-card-title>
      </v-card>
      <v-card class="logo py-4 d-flex justify-center">
        <LogoColor />
        <LogoBlack />
        <LogoMini />
      </v-card>
      <v-card>
        <v-card-text>
          <p>
            Vuetify is a progressive Material Design component framework for
            Vue.js. It was designed to empower developers to create amazing
            applications.
          </p>
          <p>
            For more information on Vuetify, check out the
            <a
              href="https://vuetifyjs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              documentation </a
            >.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/inspire"> Continue </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue, { defineComponent } from 'vue'
import LogoBlack from '../components/svg/LogoBlack.vue'
import LogoColor from '../components/svg/LogoColor.vue'
import LogoMini from '../components/svg/LogoMini.vue'
export default defineComponent({
  name: 'IndexPage',
  components: { LogoBlack, LogoColor, LogoMini },
})
</script>
