<template>
  <div>
    <h1>TODO</h1>
    <span
      >Manage your garden : <br />
      - move circles by clicking it <br />
      - create rectangles by clicking <br />
      - create circles by right clicking
    </span>

    <div class="container border">
      <div
        id="p5Canvas"
        class="d-flex justify-content-center"
        style="position: relative"
      >
        <DrawingToolbar />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import P5 from 'p5'
import { defineComponent } from 'vue'
import DrawingToolbar from '@/components/DrawingToolbar.vue'

type Circle = {
  x: number
  y: number
  r: number
  color: string
  active: boolean
}
type Square = {
  x: number
  y: number
  w: number
  color: string
  active: boolean
}

export default defineComponent({
  components: { DrawingToolbar },
  data() {
    return {
      p5script: new P5(() => {}) as P5,
      title: 'Manage Garden',
    }
  },

  head: {
    title: 'Manage Garden',
  },
  mounted() {
    const circles: Array<Circle> = []
    const squares: Array<Square> = []
    const script = (p5: P5) => {
      circles.push({ x: 50, y: 50, r: 50, color: '#226', active: false })
      squares.push({
        x: 81,
        y: 81,
        w: 63,
        color: '#166',
        active: false,
      })

      // NOTE: Set up is here
      p5.setup = () => {
        const canvas = p5.createCanvas(500, 500)
        canvas.parent('p5Canvas')
        // prevent default right-click event
        canvas.elt.addEventListener('contextmenu', (e: Event) =>
          e.preventDefault()
        )

        // here write some static drawings
        p5.background('#78a')
        p5.translate(p5.width / 2, p5.height / 2)
      }

      // Draw on the canvas.
      p5.draw = () => {
        // creating a background delete all previous drawings
        p5.background('#78a')
        p5.cursor('auto')

        squares.forEach((square) => {
          p5.fill(square.color)
          p5.rect(square.x, square.y, square.w)
          if (
            p5.mouseX >= square.x &&
            p5.mouseX <= square.x + square.w &&
            p5.mouseY >= square.y &&
            p5.mouseY <= square.y + square.w
          ) {
            p5.cursor('grab')
          }
        })

        circles.forEach((circle) => {
          p5.fill(circle.color)
          p5.ellipse(circle.x, circle.y, circle.r)
          if (
            p5.dist(p5.mouseX, p5.mouseY, circle.x, circle.y) <=
            circle.r / 2
          ) {
            p5.cursor('grab')
          }
        })
      }

      // Run when the mouse/touch is down.
      p5.mousePressed = () => {
        if (p5.mouseButton === 'left') {
          let isElementActive = false
          circles.forEach((circle) => {
            const distance = p5.dist(p5.mouseX, p5.mouseY, circle.x, circle.y)
            if (distance < circle.r / 2 && !isElementActive) {
              circle.active = true
              circle.color = '#ddf'
              isElementActive = true
            } else {
              circle.active = false
              circle.color = '#226'
            }
          })
          squares.forEach((square) => {
            if (
              p5.mouseX >= square.x &&
              p5.mouseX <= square.x + square.w &&
              p5.mouseY >= square.y &&
              p5.mouseY <= square.y + square.w &&
              !isElementActive
            ) {
              square.active = true
              square.color = '#ddf'
              isElementActive = true
            } else {
              square.active = false
              square.color = '#166'
            }
          })

          if (!isElementActive) {
            // create a square
            squares.push({
              x: p5.mouseX,
              y: p5.mouseY,
              w: 63,
              color: '#166',
              active: false,
            })
          }
        }

        if (p5.mouseButton === 'right') {
          let onElement = false
          circles.forEach((circle) => {
            const distance = p5.dist(p5.mouseX, p5.mouseY, circle.x, circle.y)
            if (distance < circle.r / 2 && !onElement) {
              onElement = true
            }
          })
          squares.forEach((square) => {
            if (
              p5.mouseX >= square.x &&
              p5.mouseX <= square.x + square.w &&
              p5.mouseY >= square.y &&
              p5.mouseY <= square.y + square.w &&
              !onElement
            ) {
              onElement = true
            }
          })
          if (!onElement) {
            // create a circle
            circles.push({
              x: p5.mouseX,
              y: p5.mouseY,
              r: 50,
              color: '#226',
              active: false,
            })
          }
        }

        // Prevent default functionality.
        return false
      }

      // Run when the mouse/touch is dragging.
      p5.mouseDragged = () => {
        circles.forEach((circle) => {
          if (circle.active) {
            circle.x = p5.mouseX
            circle.y = p5.mouseY
          }
        })
        squares.forEach((square) => {
          if (square.active) {
            square.x = p5.mouseX
            square.y = p5.mouseY
          }
        })

        // Prevent default functionality.
        return false
      }

      p5.mouseReleased = () => {
        circles.forEach((circle) => {
          circle.active = false
          circle.color = '#226'
        })
        squares.forEach((circle) => {
          circle.active = false
          circle.color = '#166'
        })
      }
    }

    // NOTE: Use p5 as an instance mode for integration with vue
    this.p5script = new P5(script)
  },
})
</script>
