<template>
  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
    <g clip-path="url(#clip0_2_12)">
      <rect width="128" height="128" fill="white" />
      <circle cx="78.5" cy="51.5" r="7.23529" stroke="black" stroke-width="3" />
      <circle cx="78.5" cy="51.5" r="12" stroke="black" stroke-width="3" />
      <circle cx="51" cy="52" r="7.55882" stroke="black" stroke-width="3" />
      <circle cx="51" cy="52" r="12.5" stroke="black" stroke-width="3" />
      <path
        d="M40 27C41.6272 19.3872 40.8333 10.8481 44.1667 7.50633C47.5 4.16456 82.5 4.16455 85.8333 7.50633C89.1667 10.8481 88.3728 19.3872 90 27"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M39.5 23C15 23 5 33 5 33C51 40 81 40.5 125 33C125 33 115 23 90 23"
        stroke="black"
        stroke-width="3"
      />
      <path d="M50 69H80" stroke="black" stroke-width="3" />
      <path
        d="M40 120.5H90L80 90H50L40 120.5Z"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M50.5 90V106.797H44M60 90V107.239H70V90M80 90V107.239H86"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M91.3831 77.4683L120.435 82.5909C125.644 53.0467 111.74 45.5179 111.74 45.5179C111.74 45.5179 96.5925 47.924 91.3831 77.4683Z"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M96.1197 105.314L98.0646 94.284C98.1291 93.9182 98.1613 93.7353 98.2007 93.5831C98.6933 91.6782 100.498 90.4145 102.457 90.6031C102.613 90.6181 102.796 90.6504 103.162 90.7149L104.245 90.9059L104.836 91.0101C105.202 91.0746 105.385 91.1068 105.537 91.1462C107.442 91.6388 108.705 93.4436 108.517 95.4021C108.502 95.5586 108.47 95.7415 108.405 96.1073L106.46 107.137C106.396 107.503 106.363 107.686 106.324 107.838C105.831 109.743 104.027 111.007 102.068 110.818C101.912 110.803 101.729 110.771 101.363 110.706L99.6888 110.411C99.323 110.347 99.1401 110.314 98.988 110.275C97.0831 109.782 95.8193 107.977 96.0079 106.019C96.023 105.863 96.0552 105.68 96.1197 105.314Z"
        fill="white"
      />
      <path
        d="M106.155 80.073L104.245 90.9059M108.405 96.1073L106.46 107.137C106.396 107.503 106.363 107.686 106.324 107.838C105.831 109.743 104.027 111.007 102.068 110.818C101.912 110.803 101.729 110.771 101.363 110.706L99.6888 110.411C99.323 110.347 99.1401 110.314 98.988 110.275C97.0831 109.782 95.8193 107.977 96.0079 106.019C96.023 105.863 96.0552 105.68 96.1197 105.314L98.0646 94.284C98.1291 93.9182 98.1613 93.7353 98.2007 93.5831C98.6933 91.6782 100.498 90.4145 102.457 90.6031C102.613 90.6181 102.796 90.6504 103.162 90.7149L104.836 91.0101C105.202 91.0746 105.385 91.1068 105.537 91.1462C107.442 91.6388 108.705 93.4436 108.517 95.4021C108.502 95.5586 108.47 95.7415 108.405 96.1073Z"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M12.8526 64.8954L10.3861 50.9071C4.47721 51.949 5.03742 61.0327 7.16756 75.8448L36.7118 70.6354C36.7118 70.6354 31.067 47.2605 25.1582 48.3024L27.6247 62.2907L12.8526 64.8954Z"
        fill="white"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M18.2597 84.0433L16.5232 74.1952L27.3561 72.285L29.0926 82.1331L18.2597 84.0433Z"
        fill="white"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M21.7327 103.739L19.9962 93.8913L30.8291 91.9812L32.5656 101.829L21.7327 103.739Z"
        fill="white"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M23.4691 113.587L21.7327 103.739L32.5656 101.829L34.302 111.677L23.4691 113.587Z"
        fill="white"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M19.9962 93.8913L18.2597 84.0433L29.0926 82.1331L30.8291 91.9812L19.9962 93.8913Z"
        fill="white"
        stroke="black"
        stroke-width="3"
      />
      <path
        d="M61 69.0534L48.5131 79.1508M41.0442 85.418L34 84.8017L37.6387 81.7485L41.2774 78.6952L48.5131 79.1508M41.0442 85.418L48.5131 79.1508M41.0442 85.418L40.4279 92.4622L47.7053 86.3557L48.5131 79.1508"
        stroke="black"
        stroke-width="3"
      />
    </g>
    <defs>
      <clipPath id="clip0_2_12">
        <rect width="128" height="128" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
