<template>
  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
    <circle cx="49" cy="52" r="11" stroke="#B71C1C" stroke-width="8" />
    <circle cx="79" cy="52" r="11" stroke="#B71C1C" stroke-width="8" />
    <path
      d="M41 34C41 34 41.9899 8 50.404 8C58.8182 8 72.2684 8 80.596 8C88.9235 8 90 34 90 34"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M87.7778 117H41.2493C40.6087 117 40.1333 116.406 40.2736 115.781L48.1298 80.781C48.2323 80.3244 48.6376 80 49.1055 80H80.7072C81.1832 80 81.5932 80.3355 81.6874 80.802L88.758 115.802C88.8831 116.421 88.4096 117 87.7778 117Z"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M120.467 98.58L92.8919 93.7179C92.348 93.622 91.9853 93.0955 92.0912 92.5535C95.9186 72.9689 109.032 63.2218 112.23 61.1031C112.635 60.8346 113.16 60.9272 113.449 61.3181C115.73 64.4027 124.719 78.0472 121.617 97.7597C121.531 98.3053 121.01 98.6759 120.467 98.58Z"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="square"
    />
    <path
      d="M106.592 96.6414L102.772 118.307"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M6.54685 73.3356C-0.275297 97.5725 49.2933 90.7144 35.5987 68.213"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M24 90L28.5128 117.695"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
    <path
      d="M11 38.5298C18.5119 37.6432 25.4361 36.9275 32 36.3783C61.139 33.9404 83.1766 34.7846 118 38.5298"
      stroke="#827717"
      stroke-width="8"
      stroke-linecap="round"
    />
  </svg>
</template>
