<template>
  <v-app>
    <AppDrawer />
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <AppFooter />
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AppFooter from '@/components/AppFooter.vue'
import AppDrawer from '@/components/AppDrawer.vue'

export default defineComponent({
  name: 'DefaultLayout',
  components: { AppFooter, AppDrawer },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
    }
  },
})
</script>
