<template>
  <v-card>
    <v-navigation-drawer v-model="drawer" :mini-variant="mini" permanent app>
      <v-list-item class="px-2" link @click.stop="mini = !mini">
        <v-list-item-avatar rounded="0">
          <img src="~/assets/img/logoMini.png" />
        </v-list-item-avatar>

        <v-list-item-title>Garden Helper</v-list-item-title>

        <v-btn icon>
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.route"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      drawer: true,
      items: [
        { title: 'Home', icon: 'mdi-home-assistant', route: '/' },
        {
          title: 'Manage Garden',
          icon: 'mdi-sprout-outline',
          route: '/manage-garden',
        },
        { title: 'About', icon: 'mdi-cloud-question', route: '/app-about' },
      ],
      mini: false,
    }
  },
})
</script>
