<template>
  <v-toolbar dense absolute bottom class="my-2 mx-10">
    <v-text-field
      hide-details
      prepend-icon="mdi-magnify"
      single-line
    ></v-text-field>

    <v-btn icon>
      <v-icon>mdi-crosshairs-gps</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
  </v-toolbar>
</template>
